<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon/file.png" type="image/png">
    <title>Modern Grid Layout</title>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md">
            <div class="container-fluid">
                <img src="https://i.pinimg.com/564x/55/3c/0c/553c0ccd4e8605405087878cf79d6297.jpg" alt="logo" width="130" height="80">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fs-1 text-light ms-5" aria-current="page" href="#">Ø₦EPIE€E FA₦$ ₲A₺₺ERY</a>
                        </li>
                    </ul>
                    <form id="uploadForm" class="d-flex" role="search" method="post" enctype="multipart/form-data" action="/upload">
                        <input class="form-control me-2" type="file" name="image" required>
                        <button class="btn btn-primary bg-gradient" type="submit">Submit</button>
                    </form>
                    <form>
                        <button class="btn btn-primary bg-gradient" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% images.forEach(image => { %>
                <div class="col">
                    <div class="card">
                        <img src="img/<%= image %>" class="card-img-top" alt="<%= image %>">
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script type="module" src="/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-rkccBzD/Zf6vplcb++7Gm44Ew2L1L5S5Iw05z00MGA3HeeC/e+EG4Jb9BhUKvXW5" crossorigin="anonymous"></script>
</body>
</html>
