* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-weight: 800;
   background-image: url("https://i.pinimg.com/originals/97/09/0c/97090c01ae9bd2f9dccb2eff62a1e511.jpg");
   background-size: cover;
   background-repeat: no-repeat;
 }

 .container {
    margin: 150px auto;
    max-width: 1300px;
    background-color: rgba(255,255,255,0.75);
    padding: 40px;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: black;
}

form {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
        border: solid;
        border-width: 5px;
        width: 100%;
        height: auto;
    }

#uploadForm{
    display: flex;
    padding: 50px;
    margin: auto ;
}

button{
    width: 100px;
    margin: 0;
}
.navbar{
    background-color: #000000;
}
.upload-file,.upload-btn{
 background-color: #fff;
}
.upload-file:hover,.upload-btn:hover{
    background-color: #fff;
}