* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    margin: 50px;
    max-width: 1136px;
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item {
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#uploadForm{
    display: flex;
    padding: 50px;
    margin: auto ;
}

button{
    width: 100px;
    margin: 0;
}